body{
    background-color: #f3ac3c;
}
div{
    width: 200px;
    background-color: #1A4341;
    width: 200px;
    height: 200px;
    position: relative;
    z-index: 0 ;
    margin:auto;
    top: 200px;

}
body div::after{
    content: "";
    background-color:#998235;
    width: 100px;
    height: 100px;
    position: absolute;
    left: 25%;
    bottom: 0;
    z-index: 1;

}
body div::before{
    content: "";
    background-color:#F3AC3C;
    height: 50px;
    width: 50px;
    position: absolute;
    bottom: 0;
    left: 37%;
    z-index: 2;
}